<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/helpMenu/main.css">
  <title>About</title>
</head>
<body>
  <div id="about-container">
    <div class="header">
      <h1>About RetroPortal</h1>
      <div class="version">v1.0.0</div>
    </div>
    <p><strong>Author:</strong> Patrick Otero</p>
    <p><strong>Contacts:</strong></p>
    <ul>
      <li><a href="mailto:patrick.rocha.otero@gmail.com">Email: patrick.rocha.otero@gmail.com</a></li>
      <li><a href="https://github.com/https://github.com/PatrickOtero" target="_blank">GitHub: https://github.com/PatrickOtero</a></li>
      <li><a href="https://www.linkedin.com/in/https://www.linkedin.com/in/patrick-da-rocha-otero/" target="_blank">LinkedIn: https://www.linkedin.com/in/patrick-da-rocha-otero/</a></li>
    </ul>
    <p>This is a retro emulator gaming selector app developed with Electron.</p>
  </div>
</body>
</html>
