<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retro Deck</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/background.css">
  <link rel="stylesheet" href="./css/carrousel.css">
  <link rel="stylesheet" href="./css/gameCard.css">
  <link rel="stylesheet" href="./css/loading.css">
  <link rel="stylesheet" href="./css/variables.css">
  <link rel="stylesheet" href="./css/emulatorList.css">
</head>
<body>
  <div id="background"></div>

  <div id="loading">
    <div class="loading-spinner"></div>
    <p>Loading games...</p>
  </div>

  <div id="emulator-list-container">
    <div class="emulators-list">
    </div>
  </div>

  <div id="game-selector">
    <h1 class="select-game-title">Select game</h1>
    <div class="icon-container">
      <img class="icon atari-control" src="../../assets/joystic-retro-deck.png" alt="Joystick Icon">
      <img class="icon snes-control" src="../../assets/snes-retro-deck.png" alt="SNES Icon">
      <img class="icon nes-control" src="../../assets/nes-retro-deck.png" alt="NES Icon">
      <img class="icon sega-control" src="../../assets/sega-retro-deck.png" alt="Sega Icon">
    </div>
    <div id="carousel-container">
      <button id="prev-button"><img src="../../assets/arrow-carrousel-left.png"></button>
      <div id="game-list" class="carousel"></div>
      <button id="next-button"><img src="../../assets/arrow-carrousel-right.png"></button>
    </div>
  </div>
  <script src="../../dist/views/index.js" defer></script>
</body>
</html