#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--loading-background);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-speed) ease-in-out;
}

.loading-spinner {
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading p {
  font-size: 20px;
  margin-top: 20px;
}

.loaded #loading {
  opacity: 0;
  pointer-events: none;
}
