#no-content-warning-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 16px;
    padding: 30px;
    z-index: 10;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.8);
    background: url('../../../assets/retro-texture.jpg') repeat, rgba(20, 20, 20, 0.95);
    background-size: contain;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.no-content-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: 50px auto;
    }
    
    .no-content-title {
      font-family: 'Press Start 2P', cursive;
      font-size: 24px;
      margin-bottom: 10px;
      color: #ff5555;
    }
    
    .no-content-info {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #ddd;
    }
  
    .no-content-button {
      font-family: 'Press Start 2P', cursive;
      font-size: 1.2rem;
      color: #00FF00;
      background: linear-gradient(45deg, #222, #444);
      border: 3px solid #00FF00;
      border-radius: 12px;
      box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.7), 0 0 15px rgba(0, 255, 0, 0.5);
      padding: 15px 25px;
      cursor: pointer;
      text-transform: uppercase;
      text-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6);
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;
    }
    
    .no-content-button:hover {
      color: #111;
      background: linear-gradient(45deg, #00FF00, #007700);
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.9);
      text-shadow: none;
      transform: scale(1.05);
    }
    
    .no-content-button::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: rgba(0, 255, 0, 0.2);
      filter: blur(30px);
      transform: rotate(45deg);
      z-index: -1;
      transition: all 0.5s ease;
    }
    
    .no-content-button:hover::before {
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      filter: blur(20px);
      opacity: 0.8;
    }
    
    .no-content-button:active {
      transform: scale(0.95);
      box-shadow: inset 0 0 20px rgba(0, 255, 0, 0.8);
    }