:root {
  --primary-bg: #000;
  --accent-color: #ff00ff;
  --highlight-color: #ffcc00;
  --light-text: #fff;
  --dark-text: #ccc;
  --shadow-color: rgba(0, 0, 255, 0.5);
  --button-bg: linear-gradient(135deg, #ff0000, #ffcc00);
  --button-hover-bg: linear-gradient(135deg, #00ff00, #00ffff);
  --border-radius: 16px;
  --button-border-radius: 10px;
  --button-padding: 10px 15px;
  --transition-speed: 0.3s;
  --font-family: 'Press Start 2P', cursive;
}